.advantage {
  display: flex;
  padding: 0 35px 0 15px;

  &:nth-child(2) {
    order: 1;
  }
}

.advantage__text {
  .promo__title {
    text-align: left;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 13px;
  }

  .promo__review {
    margin-top: 0;
  }

  .advantage__title {
    margin-top: 14px;
    margin-bottom: 15px;
  }
}

.advantage__img-house {
  width: 39px;
  align-self: flex-start;
  margin-top: 4px;
  margin-right: 13px;
}

.advantage__img-gift {
  width: 32px;
  align-self: flex-start;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 16px;
}

.advantage__img-eat {
  width: 40px;
  align-self: flex-start;
  margin-top: 7px;
}

.advantage__text--eat {
  margin-left: 13px;

  .promo__title {
    margin-top: 13px;
  }
}

.advantage__preview {
  text-align: left;
}

@media (min-width: $tablet-width) {
  .advantage {
    flex-direction: column;
    margin-top: 57px;

    &:first-child {
      position: relative;
      left: -10px;
      padding: 0 53px 0 5px;
    }

    &:nth-child(2) {
      position: relative;
      left: -20px;
      padding: 0 2px 0 0;
    }

    &:last-child {
      position: relative;
      left: -56px;
      padding: 0;
    }
  }

  .advantage__img-house,
  .advantage__img-gift,
  .advantage__img-eat {
    margin: 0 auto;
  }

  .advantage__img-house {
    width: 75px;
  }

  .advantage__img-gift {
    margin-top: 0;
    width: 64px;
    height: 75px;
    padding-bottom: 0;
  }

  .advantage__img-eat {
    width: 77px;
    padding-top: 5px;
    margin-bottom: 2px;
  }

  .advantage__text {
    padding-bottom: 7px;

    .promo__title {
      text-align: center;
      margin-top: 28px;
    }
  }

  .advantage__text--eat .promo__title {
    margin-top: 25px;
    margin-bottom: 12px;
  }

  .advantage__preview {
    text-align: center;
    padding: 5px 14px 40px;
    line-height: 1.5;

    .advantage__nowrap {
      white-space: nowrap;
    }
  }

  .advantage__text--eat {
    .promo__review {
      padding-top: 8px;
      margin-bottom: 16px;
    }
  }

  .advantage__text--gift {
    .promo__title {
      margin-top: 26px;
    }
  }

  .advantage__text--house {
    .promo__review {
      padding: 5px 49px 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    margin-top: 47px;
  }

  .advantage__img-gift {
    padding: 5px 0 0 0;
    margin-left: 130px;
    margin-top: -10px;
  }

  .advantage__img-house {
    margin-left: 165px;
  }

  .advantage__img-eat {
    margin-left: 130px;
  }

  .advantage__text--house {
    .promo__title {
      margin-left: -25px;
    }

    .promo__review {
      margin-left: -20px;
    }
  }

  .advantage__text--eat {
    .promo__title {
      margin-left: -35px;
    }

    .promo__review {
      padding-top: 8px;
      margin-left: -40px;
    }
  }

  .advantage__text--gift {
    .promo__title {
      margin-top: 30px;
    }
  }
}
