.advantage {
  display: flex;
  padding: 0 41px 0 25px;

  &:nth-child(2) {
    padding-bottom: 5px;
  }
}

.advantage__text {
  .promo__title {
    text-align: left;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 13px;
  }

  .promo__review {
    margin-top: 10px;
  }
}

.advantage__img-house {
  width: 39px;
  align-self: flex-start;
  margin-top: 10px;
  margin-right: 13px;
}

.advantage__img-gift {
  width: 32px;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 16px;
}

.advantage__img-eat {
  width: 40px;
  align-self: flex-start;
  margin-top: 10px;
  margin-right: 12px;
}

.advantage__preview {
  text-align: left;
}

.advantage__text--eat {
  .promo__title {
    margin-top: 15px;
  }
}

@media (min-width: $tablet-width) {
  .advantage {
    flex-direction: column;
    margin-top: 57px;
  }

  .advantage__img-house,
  .advantage__img-gift,
  .advantage__img-eat {
    margin: 0 auto;
  }

  .advantage__img-house {
    width: 75px;
  }

  .advantage__img-gift {
    width: 77px;
    height: 68px;
    padding-bottom: 5px;
  }

  .advantage__img-eat {
    width: 64px;
    padding-top: 14px;
  }

  .advantage__text .promo__title {
    text-align: center;
    margin-top: 27px;
  }

  .advantage__preview {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
    line-height: 1.5;
  }

  .advantage__text--eat {
    .promo__review {
      padding-top: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    margin-top: 47px;
  }

  .advantage__img-gift {
    padding: 5px 0 0 0;
  }

  .advantage__text--eat {
    .promo__review {
      padding-top: 17px;
    }
  }
}
