.feedback {
  width: 320px;
  margin: 0 auto;
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
}

.feedback__heading {
  .promo__review {
    margin: 27px 0 20px;
    line-height: 1.7;
  }

  .promo__title {
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    width: $tablet-width;
  }

  .feedback__form {
    display: flex;
    flex-wrap: wrap;
  }
}
