.feedback {
  width: 320px;
  margin: 0 auto;
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
}

.feedback__heading {
  .promo__review {
    margin: 27px 0 20px;
    line-height: 1.7;
  }

  .promo__title {
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    width: $tablet-width;
  }

  .feedback__form {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
  }

  .feedback__heading {
    .promo__title {
      font-size: 30px;
      font-weight: 700;
      margin-top: -10px;
    }

    .promo__review {
      padding: 0 21%;
      margin-top: 31px;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: $desktop-width;
  }

  .feedback__heading {
    .promo__title {
      margin-top: 17px;
    }

    .promo__review {
      padding: 0 377px;
    }
  }
}
