.footer {
  width: 320px;
  margin: 0 auto;
}

.footer__wrapper {
  .promo__title {
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
  }

  .promo__title--form {
    margin-top: 60px;
  }
}

.footer__hash {
  display: block;
  margin-bottom: 35px;
  text-decoration: none;
}

.footer__icons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer__info {
  display: flex;
  justify-content: center;
  padding: 30px 10px;
}

.footer__dev {
  position: relative;
  top: 2px;
  left: 2px;
  line-height: 26px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer__link {
  margin: 8px 0 0 8px;

  svg {
    &:hover {
      fill: #81b3d2;
    }

    &:active {
      fill: rgba(0, 0, 0, 0.3);
    }
  }
}

.footer__icon {
  position: relative;
  top: 2px;
  left: 2px;
  width: 39px;
  height: 38px;
}

@media (min-width: $tablet-width) {
  .footer {
    width: $tablet-width;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 648px;
    height: 120px;
    margin: 0 auto;
  }

  .footer__info {
    padding-top: 10px;
  }

  .footer__dev {
    position: relative;
    top: 10px;
    left: 16px;
  }

  .footer__link {
    position: relative;
    top: 10px;
    left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: $desktop-width;
  }

  .footer__wrapper {
    width: auto;
    padding: 0 120px;
  }

  .footer__link {
    margin: 7px 0 0 5px;
  }

  .footer__icon {
    width: 41px;
    height: 47px;

    &:hover {
      transition: all 0.3s;
      fill: #81b3d2;
    }

    &:active {
      fill: gray;
    }
  }

  .footer__hash {
    position: relative;
    top: 3px;
  }

  .footer__dev {
    position: relative;
    top: 13px;
    left: 17px;
    //margin: 22px 12px 0 0px;
  }

  .footer__wrapper .promo__title--form {
    margin-bottom: 63px;
  }
}
