.footer {
  width: 320px;
  margin: 0 auto;
}

.footer__wrapper {
  .promo__title {
    text-align: center;
    margin-top: 30px;
  }
}

.footer__hash {
  text-decoration: none;
  display: block;
  margin-bottom: 35px;
}

.footer__icons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer__info {
  display: flex;
  padding-top: 30px;
  justify-content: center;
  padding-bottom: 10px;
}

.footer__dev {
  color: #000000;
  font-family: "pt-sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.footer__link {
  margin-top: 10px;
  margin-left: 6px;
};

