.footer {
  width: 320px;
  margin: 0 auto;
}

.footer__wrapper {
  .promo__title {
    margin-top: 30px;
    text-align: center;
  }

  .promo__title--form {
    margin-top: 60px;
  }
}

.footer__hash {
  display: block;
  margin-bottom: 35px;
  text-decoration: none;
}

.footer__icons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer__info {
  display: flex;
  justify-content: center;
  padding: 30px 10px;
}

.footer__dev {
  line-height: 26px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer__link {
  margin: 10px 0 0 6px;

  &:hover {
    color: #81b3d2;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    width: $tablet-width;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 648px;
    height: 120px;
    margin: 0 auto;
  }

  .footer__info {
    padding-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: $desktop-width;
  }

  .footer__wrapper {
    width: auto;
    padding: 0 120px;
  }

  .footer__link {
    margin: 20px -13px 0 5px;
  }

  .footer__dev {
    margin: 28px 1px 0 0;
  }

  .footer__icon {
    &:hover {
      transition: all 0.3s;
      fill: #81b3d2;
    }

    &:active {
      fill: gray;
    }
  }

  .footer__wrapper .promo__title--form {
    margin-bottom: 63px;
  }
}
