.form-item {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .form-item__wrapper {
    align-items: baseline;
  }

  .promo__title {
    padding: 0;
    margin: 19px 0 11px;
  }
}

.form-item__wrapper {
  display: flex;
}

.form-item__inner-wrapper {
  display: flex;
  flex-direction: column;
}

.form-item__name,
.form-item__surname,
.form-item__patronymic {
  margin-left: auto;
  border: 4px solid #f2f2f2;
  padding: 0 19px;

  &:hover {
    transition: all 0.3s;
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background-color: white;
    border: 4px solid #e5e5e5;
    outline: none;
  }
}

.form-item__name {
  width: 200px;
  height: 50px;
  background-color: #f2f2f2;
}

.form-item__surname,
.form-item__patronymic {
  width: 162px;
  height: 50px;
  background-color: #f2f2f2;
}

.form-item--introduce {
  padding-bottom: 15px;

  .promo__title {
    margin-top: 18px;
  }

  .form-item__wrapper {
    margin-bottom: 10px;
  }
}

.form-item--contacts {
  padding: 0 20px 28px;

  .form-item__wrapper {
    flex-direction: column;
  }

  .promo__title {
    padding: 0;
    margin-top: 17px;
  }

  .promo__review {
    margin: 14px 0 9px;
    padding: 0 0 0 20px;
  }
}

.form-item--general {
  padding-bottom: 15px;

  .promo__title {
    margin: 16px 0 25px;
    padding: 0;
  }
}

.form-item__email,
.form-item__tel {
  position: relative;
  width: 250px;
  height: 50px;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  padding: 0 19px;

  &:hover {
    transition: all 0.3s;
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background-color: white;
    border: 4px solid #e5e5e5;
    outline: none;
  }
}

.form-item__contact-wrapper {
  position: relative;
  display: flex;
}

.form-item__visit-wrapper {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 23px;
  }
}

.form-item--description {
  .promo__title {
    margin-bottom: 14px;
  }

  .feedback__wrapper {
    padding-top: 33px;
  }

  .promo__title--button {
    padding: 16px 10px;
  }
}

.form-item__icon {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.form-item__describe {
  width: 280px;
  height: 160px;
  box-sizing: border-box;
  background: #f2f2f2;
  resize: none;
  outline: none;
  border: 4px solid #f2f2f2;
  padding: 21px 22px;

  &:focus {
    background: white;
  }
}

.form-item__reqiured-fields {
  font-size: 0;
}

.form-item__send {
  display: inline-block;
  width: 100%;
  margin: 30px;
  border: none;
  background-color: #81b3d2;
  color: white;
  letter-spacing: 2px;
}


@media (min-width: $tablet-width) {
  .form-item {
    border-top: none;
  }

  .form-item--general {
    order: -1;
    width: 334px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 29px;
  }

  .form-item--introduce {
    width: 334px;
    padding-left: 0;

    .promo__title {
      margin-top: 15px;
      margin-left: -60px;
    }
  }

  .form-item--contacts,
  .form-item--visited,
  .form-item--description {
    width: 100%;
  }

  .form-item__inner-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-item__name,
  .form-item__surname,
  .form-item__patronymic {
    margin-left: 0;
  }

  .form-item__name {
    margin-left: 12px;
    width: 187px;
  }

  .form-item__surname {
    margin-left: 12px;
    width: 150px;
  }

  .form-item__patronymic {
    margin-left: 14px;
    width: 152px;
  }

  .form-item__wrapper {
    &:first-of-type {
      margin: 30px 0 0 72px;
    }

    &:nth-of-type(2) {
      margin: 5px 0 0 72px;
    }

    &:last-of-type {
      margin: 4px 0 0 72px;
    }

    .promo__review {
      margin: 36px 0 0 -12px;
    }
  }

  .form-item--contacts {
    .promo__title {
      position: relative;
      margin-top: 55px;

      &::before {
        content: "";
        position: absolute;
        left: 40px;
        top: 11px;
        width: 130px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }

      &::after {
        content: "";
        position: absolute;
        right: 40px;
        top: 11px;
        width: 130px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .form-item__wrapper {
      margin: -12px 0 0 40px;
    }

    .promo__review {
      margin-left: 3px;
      line-height: 1px;

      &:last-of-type {
        padding-bottom: 25px;
      }
    }
  }

  .form-item__tel,
  .form-item__email,
  .form-item__contact-wrapper {
    width: 94.5%;
  }

  .form-item--visited {
    .promo__title {
      position: relative;
      padding: 0 30%;
      margin-top: 27px;

      &::before {
        content: "";
        position: absolute;
        top: 23px;
        left: 37px;
        width: 130px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }

      &::after {
        content: "";
        position: absolute;
        top: 23px;
        right: 37px;
        width: 130px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .form-item__visit-wrapper {
    width: 230px;
    margin: 25px 0 0 135px;

    &:nth-of-type(2),
    &:nth-of-type(4) {
      margin-left: 25px;
    }
  }

  .form-item--description {
    .promo__title {
      position: relative;
      margin: 45px 0 58px;

      &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 38px;
        width: 130px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }

      &::after {
        content: "";
        position: absolute;
        top: 12px;
        right: 38px;
        width: 130px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .form-item__describe {
    margin-left: 40px;
    width: 89%;
  }

  .form-item__send {
    width: 324px;
  }

  .feedback__wrapper {
    .promo__title {
      margin-top: 24px;
      margin-left: 40px;
    }
  }

  .form-item__reqiured-fields {
    position: relative;
    left: -36px;
    top: 32px;
    font-size: 14px;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .form-item--visited {
    display: flex;

    .promo__title {
      padding: 0 33%;
      margin: 25px 0 0 0;

      &::before {
        left: 95px;
        width: 285px;
      }

      &::after {
        right: 97px;
        width: 285px;
      }
    }
  }

  .form-item__inner-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  .form-item--general {
    width: 40.5%;
    padding-left: 95px;
    margin-top: -15px;

    .promo__title {
      margin-left: -9px;
    }
  }

  .form-item--introduce {
    width: 40%;
    padding: 0;

    .promo__title {
      margin: 0 0 0 -171px;
    }

    .form-item__wrapper {
      &:first-of-type {
        flex-direction: row;
        width: 80%;
        margin: 40px 0 0 92px;
      }

      &:nth-of-type(2) {
        width: 80%;
        margin: 5px 0 0 93px;
      }

      &:last-of-type {
        flex-direction: row;
        width: 80%;
        margin: 5px 0 0 93px;
      }
    }
  }

  .form-item__name {
    width: 350px;
  }

  .form-item__surname,
  .form-item__patronymic {
    width: 315px;
  }

  .form-item__surname {
    margin-left: 10px;
  }

  .form-item--contacts {
    flex-direction: row;
    flex-wrap: wrap;

    .promo__title {
      width: 100%;

      &::before {
        width: 280px;
        left: 100px;
      }

      &::after {
        width: 280px;
        right: 100px;
      }
    }

    .form-item__wrapper {
      flex-direction: row;
      margin: 57px 0 0 75px;

      .promo__review {
        margin-right: 17px;

        span {
          display: none;
        }
      }

      &:last-of-type {
        margin: 57px 0 0 58px;
      }
    }
  }

  .form-item__contact-wrapper {
    width: 315px;

    .form-item__email,
    .form-item__tel {
      width: 215px;
    }
  }

  .form-item__visit-wrapper {
    width: 206px;
    margin: 0;

    &:first-of-type {
      margin: 40px 0 0 95px;
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      margin: 40px 0 0 53px;
    }

    &:last-of-type {
      margin: 40px 0 0 33px;
    }
  }

  .form-item--description {
    .promo__title {
      margin: 60px 0 0;

      &::before {
        width: 280px;
        left: 100px;
      }

      &::after {
        width: 280px;
        right: 100px;
      }
    }

    .feedback__wrapper {
      padding: 60px 0 60px 100px;

      .promo__title--button {
        margin: 0;
      }
    }
  }

  .form-item__describe {
    width: 960px;
    margin: 60px 0 0 100px;
    padding: 15px 20px;
  }

  .form-item__send {
    width: 480px;
    margin: 10px 0 0 80px;

    &:hover {
      transition: all 0.3s;
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .form-item__reqiured-fields {
    top: 3px;
    left: -100px;
    text-transform: uppercase;
  }
}
