.form-item {
  display: flex;
  flex-direction: column;
}

.form-item__wrapper {
  display: flex;
}

.form-item__inner-wrapper {
	display: flex;
	flex-direction: column;
}

@media (min-width: $tablet-width) {
  .form-item--general {
    order: -1;
  }

  .form-item--contacts , .form-item--visited , .form-item--description {
    width: 100%;
  }

  .form-item__visit-wrapper {
    width: 50%;
  }
}

  .form-item__inner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

@media (min-width: $desktop-width) {
  .form-item--visited {
    display: flex;
  }

  .form-item__inner-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }
}