.gallery {
  width: 320px;
  margin: 0 auto;
}

.gallery__review {
  margin-top: 27px;
  padding: 0 20px;
  line-height: 1.72;

  span {
    white-space: nowrap;
  }
}

.gallery__text {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



.gallery__title {
  margin-top: 8px;
}



@media (min-width: $tablet-width) {
  .gallery {
    width: $tablet-width;
  }

  

  .gallery__text {
    padding-bottom: 20px;
    border-bottom: none;

    .promo__title {
      margin-top: -12px;
      font-size: 30px;
    }

    .promo__review {
      margin-top: 0;
    }
  }


  

  

  .gallery__review {
    padding: 10px 170px;
  }


  
}

@media (min-width: $desktop-width) {
  .gallery {
    width: $desktop-width;
  }

  

  .gallery__text {
    padding-bottom: 10px;

    .promo__title {
      margin: 20px 0 10px;
    }

    .promo__review {
      margin-top: 20px;
    }
  }

  .gallery__review {
    margin-bottom: 50px;
    padding: 10px 32%;
  }
}
