.gallery {
  width: 320px;
  margin: 0 auto;
}

.gallery__review {
  margin-top: 27px;
  padding: 0 20px;
  line-height: 1.72;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  span {
    white-space: nowrap;
  }
}

.gallery__text {
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.gallery__title {
  margin-top: 8px;
  padding: 0 40px;
  font-family: "pt-sansBold", "Arial Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .gallery {
    width: $tablet-width;
  }

  .gallery__text {
    padding-bottom: 20px;
    border-bottom: none;

    .gallery__title {
      margin-top: -12px;
      font-size: 30px;
    }

    .gallery__review {
      margin-top: 0;
      padding: 10px 170px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    width: $desktop-width;
  }

  .gallery__text {
    padding-bottom: 10px;

    .gallery__title {
      margin: 17px 0 10px;
    }

    .gallery__review {
      margin: 20px 0 50px;
      padding: 10px 380px;
    }
  }
}
