.header {
  width: 320px;
  margin: 0 auto;
}

.header__logo {
  height: 83px;
  display: flex;
  background-image: url("../../img/logo-sedona-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.header__text {
  background: url("../../img/bg-back-mobile@1x.jpg") no-repeat;
  height: 389px;
  background-position: center;
  margin-top: -27px;
  display: flex;
  justify-content: center;
  position: relative;
}

.header__inner-text {
  margin-top: 10px;
  width: 280px;
}

/*photo.html*/
.header__bg {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  position: relative;
  top: -27px;
  background-position: 45% 100%;
  height: 159px;
}

.header__sedona {
  display: block;
  width: 229px;
  margin: 0 auto;
  padding: 52px 20px 20px;
}

.header__triangle-left {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 0 0 160px;
  border-color: transparent transparent transparent #ffffff;
}

.header__triangle-right {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 28px 160px;
  border-color: transparent transparent #ffffff transparent;
}

@media (min-width: $tablet-width) {
  .header {
    width: $tablet-width;
  }

  .header__bg {
    top: -85px;
    padding-top: 90px;
    height: 200px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
  }

  .header__sedona {
    width: 458px;
    padding-top: 5px;
  }

  .header__triangle-left {
    position: absolute;
    bottom: 0;
    left: 35px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 58px 0 0 350px;
    border-color: transparent transparent transparent #ffffff;

    &::before {
      content: "";
      position: absolute;
      left: -611px;
      bottom: -43px;
      height: 88px;
      transform: rotate(6deg);
      width: 283px;
      background-color: #ffffff;
    }
  }

  .header__triangle-right {
    position: absolute;
    bottom: 0;
    right: 35px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 58px 350px;
    border-color: transparent transparent #ffffff transparent;

    &::after {
      content: "";
      position: absolute;
      right: -261px;
      top: 12px;
      height: 88px;
      transform: rotate(-6deg);
      width: 283px;
      background-color: #ffffff;
    }
  }

  .header__logo {
    position: relative;
    width: 102px;
    top: -58px;
  }

  .header__text {
    position: relative;
    top: -55px;
    width: auto;
    height: 518px;
    background: url("../../img/bg-back-tablet@1x.jpg");
  }

  .header__inner-text {
    width: 460px;
    margin-top: -15px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: $desktop-width;
  }

  .header__bg,
  .header__text {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    height: 518px;
  }

  .header__text {
    top: -73px;
  }

  .header__sedona {
    width: 461px;
    padding-top: 90px;
  }

  .header__logo {
    top: -58px;
    width: 188px;
    height: 100px;
    background-image: url("../../img/logo-sedona-desktop.svg");
  }

  .header__inner-text {
    margin-top: -12px;
  }

  .header__triangle-left {
    position: absolute;
    bottom: 0;
    left: 250px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 58px 0 0 350px;
    border-color: transparent transparent transparent #ffffff;

    &::before {
      content: "";
      position: absolute;
      left: -611px;
      bottom: -43px;
      height: 88px;
      transform: rotate(6deg);
      width: 283px;
      background-color: #ffffff;
    }
  }

  .header__triangle-right {
    position: absolute;
    bottom: 0;
    right: 250px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 58px 350px;
    border-color: transparent transparent #ffffff transparent;

    &::after {
      content: "";
      position: absolute;
      right: -261px;
      top: 12px;
      height: 88px;
      transform: rotate(-6deg);
      width: 283px;
      background-color: #ffffff;
    }
  }

  .header__bg {
    padding: 0;
    height: 295px;
    top: -100px;
  }
}
