.map {
  width: 320px;
  margin: 0 auto;
  padding: 7px 0 0;

  iframe {
    height: 350px;
  }

  .map__title {
    margin-top: 40px;
    padding: 0 40px;
    font-family: "pt-sansBold", "Arial Bold", sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
  }

  .map__review {
    margin-top: 22px;
    line-height: 1.7;
    padding: 0 20px 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.7;
  }
}

.map__find-btn {
  position: relative;
  display: block;
  width: 280px;
  height: 58px;
  background-color: #81b3d2;
  margin: 35px auto 50px;
  text-align: center;
  line-height: 57px;
  color: white;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;

  &:hover {
    transition: all 0.3s;
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .map {
    width: $tablet-width;

    .map__title {
      margin-top: 50px;
      padding: 0;
      font-size: 30px;
      line-height: 26px;
    }

    .map__review {
      margin-top: 33px;
      line-height: 1.8;

      span {
        white-space: nowrap;
      }
    }
  }

  .map__find-btn {
    width: 458px;
    margin: 43px auto 55px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: $desktop-width;

    .map__title {
      font-size: 30px;
    }
    .map__review {
      padding: 0 26%;
    }
  }

  .map__find-btn {
    width: 458px;
    margin: 44px auto 63px;
  }
}
