.nav__item {
  height: 55px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  background-color: #81b3d2;
  text-align: center;
  list-style-type: none;

  &:last-child {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 6px rgba(0, 0, 0, 0.2);
  }

  a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    line-height: 55px;
    font-family: "pt-sansBold", sans-serif;
    font-size: 18px;
  }
}

.nav__list {
  padding-left: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .nav__list {
    display: flex;
    margin: 0 auto;
    width: 716px;
  }

  .nav__item {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #000000;

    a {
      color: #000000;
      white-space: nowrap;
      font-size: 14px;
    }

    &:first-child {
      margin-right: 77px;
      padding-left: 23px;
    }

    &:nth-child(2) {
      margin-right: 209px;
    }

    &:nth-child(3) {
      margin-right: 49px;
    }

    &:last-child {
      box-shadow: none;
    }
  }

  .nav__btn-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    width: 100%;
  }

  .nav__item {
    &:first-child {
      margin: 0 152px 0 81px;
      padding: 0;
    }

    &:nth-child(2) {
      margin-right: 372px;
    }

    &:last-child {
      margin-left: 78px;
    }
    a {
      padding: 0 10px;
    }
  }
}
