.promo {
  width: 320px;
  margin: 0 auto;
}

.promo__title {
  margin-top: 40px;
  padding: 0 40px;
  font-family: "pt-sansBold", "Arial Bold" sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  span {
    white-space: nowrap;
  }
}

.promo__review {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}

.promo__review--description {
  line-height: 2;
}

.promo-item {
  &:nth-child(2) {
    position: relative;
    top: 10px;
  }
}

.promo-item__text {
  position: relative;
  text-align: center;
  background-color: #81b3d2;
}

.promo__title--white {
  margin-bottom: 10px;
  padding-top: 40px;
  color: #ffffff;
}

.promo__title--bridge {
  margin: 33px 0 7px;
}

.promo-item__number {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

  &::before {
    position: absolute;
    content: "";
    left: 133px;
    top: 10px;
    display: block;
    width: 8px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  &::after {
    position: absolute;
    content: "";
    right: 133px;
    top: 10px;
    display: block;
    width: 8px;
    height: 1.1px;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.promo__review--white {
  margin-top: 16px;
  padding: 0 20px 44px;
  color: #ffffff;
}

.promo-item__img {
  position: relative;
  top: -20px;
  width: 100%;
  height: 260px;
}

.promo-item__img--city {
  background-image: url("../img/main-city-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main-city-mobile@2x.jpg");
    background-size: cover;
  }
}

.promo-item__img--bridge {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../img/photo-bridge-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/photo-bridge-mobile@2x.jpg");
  }
}

.promo-item__number--gray {
  color: #333333;

  &::before,
  &::after {
    background: #333333;
  }

  &::before {
    left: 113px;
  }

  &::after {
    right: 113px;
  }
}

.promo-item__text-gray {
  position: relative;
  margin-top: 0;
  padding: 0 20px;
  background: #eeeeee;

  &:first-child {
    margin-top: -20px;
  }

  .promo__title {
    margin: 0 0 10px;
    padding-top: 27px;
  }

  .promo__review {
    margin: 15px 0 19px;
    padding: 0 20px 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .promo__review--no-border {
    margin-bottom: 0;
    border-bottom: none;
  }

  .promo-item__places {
    margin: 15px 0 0;
  }
}

.promo-item--small {
  padding-top: 0;

  &:nth-child(2) {
    top: 20px;
  }

  &:last-child {
    position: relative;
    top: 21px;
  }
}

.promo__title--small {
  margin: 14px 0 2px;
  padding: 0;
  font-size: 14px;
  text-align: left;
}

.promo-item__triangle {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 160px 0 160px;
  border-color: #ffffff transparent transparent transparent;
}

.promo__title--triangle {
  margin-top: 14px;
  padding-top: 55px;
}

.promo__text {
  .promo__title {
    margin: 38px 0 0;
  }

  .promo__review {
    margin: 27px 0 0;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
    top: 0;
    width: $tablet-width;
  }

  .promo__text {
    padding: 0 50px 49px;

    .promo__title {
      margin-top: -5px;
    }
  }

  .promo__title {
    padding: 0;
    font-size: 21px;
    line-height: 26px;
  }

  .promo-item__number {
    &::before {
      left: 102px;
    }

    &::after {
      right: 102px;
    }
  }

  .promo__title--white {
    margin-top: 45px;
    padding: 0 50px;
  }

  .promo-item__wrapper {
    display: flex;

    &:last-child {
      margin-top: 0;
    }
  }

  .promo-item:nth-child(2) {
    top: 0;
  }

  .promo-item--small {
    height: 256px;
  }

  .promo-item__img {
    top: 0;
    width: 512px;
    height: 256px;
  }

  .promo__review--white {
    margin-top: 21px;
    padding: 0 40px 40px;

    span {
      white-space: nowrap;
    }
  }

  .promo-item__text {
    width: 256px;
    height: 256px;
  }

  .promo-item__text-gray {
    height: 100%;

    &:first-child {
      margin-top: 0;
    }

    .promo__title {
      padding: 45px 31px 0 40px;
    }

    .promo__review {
      margin-top: 22px;
      border-bottom: 0;
    }

    .promo__review--las-vegas {
      padding: 0 40px;
    }
  }

  .promo-item__number--gray {
    &::before {
      left: 80px;
    }

    &::after {
      right: 80px;
      height: 1px;
    }
  }

  .promo-item__img--city {
    background-image: url("../img/main-city-tablet@1x.jpg");
  }

  .promo-item__img--bridge {
    background-image: url("../img/main-bridge-tablet@1x.jpg");
  }

  .promo-item__triangle {
    display: none;
  }

  .promo-item__advantages {
    display: flex;
  }

  .promo-item:nth-child(3) {
    top: 0;
    display: flex;

    .promo-item__text {
      order: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: $desktop-width;
  }

  .promo-item__img--city {
    width: 800px;
    background-image: url("../img/main-city-desktop@1x.jpg");
  }

  .promo-item__text {
    width: 400px;
  }

  .promo-item__img--bridge {
    width: 800px;
    background-image: url("../img/main-bridge-desktop@1x.jpg");
  }

  .promo-item__number {
    &::before {
      left: 175px;
    }

    &::after {
      right: 175px;
    }
  }

  .promo__review {
    span {
      white-space: nowrap;
    }
  }

  .promo-item__text-gray {
    .promo__review {
      padding: 0 35px 30px;
    }
  }

  .promo-item__number--gray {
    &::before {
      left: 153px;
    }

    &::after {
      right: 153px;
    }
  }

  .promo-item--small {
    width: 400px;
  }

  .promo__text {
    padding: 0 50px 46px;

    .promo__title {
      margin-top: -20px;
      padding: 0 20%;
    }
  }

  .promo__title--white {
    margin-top: 38px;
    padding: 14px 110px 0;
  }

  .promo__review--white {
    padding: 0 55px 40px;
  }

  .promo-item__advantages {
    padding: 12px 0 20px;
  }

  .promo-item__text--bridge {
    .promo__review {
      padding: 0 85px 40px;
    }
  }

  .promo-item__text-gray .promo__title {
    padding: 45px 110px 0;
  }
}
