.promo-item {
  &:nth-child(2) {
    position: relative;
    top: 10px;
  }
}

.promo-item__text {
  position: relative;
  text-align: center;
  background-color: #81b3d2;
}

.promo-item__number {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

  &::before {
    position: absolute;
    content: "";
    left: 133px;
    top: 10px;
    display: block;
    width: 8px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  &::after {
    position: absolute;
    content: "";
    right: 133px;
    top: 10px;
    display: block;
    width: 8px;
    height: 1.1px;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.promo-item__img--city {
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-color: #9ca894;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main-city-mobile@2x.jpg");
    background-color: #9ca894;
    background-size: cover;
  }
}

.promo-item__img--bridge {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../img/photo-bridge-mobile@1x.jpg");
  background-color: #b7826e;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/photo-bridge-mobile@2x.jpg");
    background-color: #b7826e;
  }
}

.promo-item__number--gray {
  color: #333333;

  &::before,
  &::after {
    background: #333333;
  }

  &::before {
    left: 113px;
  }

  &::after {
    right: 113px;
  }
}

.promo-item__text-gray {
  position: relative;
  margin-top: 0;
  padding: 0 20px;
  background: #eeeeee;

  &:first-child {
    margin-top: -20px;
  }

  .promo__title {
    margin: 0 0 10px;
    padding-top: 27px;
  }

  .promo__review {
    margin: 15px 0 19px;
    padding: 0 15px 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .promo__review--no-border {
    margin-bottom: 0;
    padding: 0 15px;
    border-bottom: none;
  }

  .promo-item__places {
    margin: 15px 0 0;
  }
}

.promo-item__text-gray--last-item {
  padding-bottom: 27px;
}

.promo-item--small {
  padding-top: 0;

  &:nth-child(2) {
    top: 20px;
  }

  &:last-child {
    position: relative;
    top: 21px;
  }
}

.promo-item__img {
  position: relative;
  top: -20px;
  width: 100%;
  height: 260px;
}

.promo-item__triangle {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 160px 0 160px;
  border-color: #ffffff transparent transparent transparent;
}

@media (min-width: $tablet-width) {
  .promo-item__number {
    &::before {
      left: 102px;
    }

    &::after {
      right: 102px;
    }
  }

  .promo-item__wrapper {
    display: flex;

    &:last-child {
      margin-top: 0;
    }
  }

  .promo-item:nth-child(2) {
    top: 0;
  }

  .promo-item__img {
    top: 0;
    width: 512px;
    height: 256px;
  }

  .promo-item__text {
    width: 256px;
    height: 256px;
  }

  .promo-item__text-gray {
    height: 100%;
    padding-bottom: 7px;

    &:first-child {
      margin-top: 0;
    }

    .promo__title {
      padding: 45px 31px 0 40px;
    }

    .promo__review {
      margin-top: 22px;
      border-bottom: 0;
    }

    .promo__review--no-border {
      padding: 0 25px;
    }

    .promo__review--las-vegas {
      padding: 0 40px;
    }
  }

  .promo-item__number--gray {
    &::before {
      left: 80px;
    }

    &::after {
      right: 80px;
      height: 1px;
    }
  }

  .promo-item__img--city {
    background-image: url("../img/main-city-tablet@1x.jpg");
  }

  .promo-item__img--bridge {
    background-image: url("../img/main-bridge-tablet@1x.jpg");
  }

  .promo-item__triangle {
    display: none;
  }

  .promo-item__advantages {
    display: flex;
  }

  .promo-item:nth-child(3) {
    top: 0;
    display: flex;

    .promo-item__text {
      order: 1;
    }
  }

  .promo-item--small {
    padding-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .promo-item__img--city {
    width: 800px;
    background-image: url("../img/main-city-desktop@1x.jpg");
  }

  .promo-item__text {
    width: 400px;
  }

  .promo-item__img--bridge {
    width: 800px;
    background-image: url("../img/main-bridge-desktop@1x.jpg");
  }

  .promo-item__number {
    &::before {
      left: 175px;
    }

    &::after {
      right: 175px;
    }
  }

  .promo-item__text-gray {
    .promo__review {
      padding: 0 35px 30px;
    }

    .promo__review--las-vegas {
      padding: 0 41px 30px;
    }
  }

  .promo-item__number--gray {
    &::before {
      left: 153px;
    }

    &::after {
      right: 153px;
    }
  }

  .promo-item--small {
    width: 400px;
  }

  .promo-item__advantages {
    padding: 12px 0 20px;
  }

  .promo-item__text--bridge {
    .promo__review {
      padding: 0 82px 40px;
    }
  }

  .promo-item__text-gray .promo__title {
    padding: 45px 110px 0;
  }
}
