.promo {
  width: 320px;
  margin: 0 auto;
}

.promo__title {
  margin-top: 40px;
  padding: 0 40px;
  font-family: "pt-sansBold", "Arial Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  span {
    white-space: nowrap;
  }
}

.promo__review {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}

.promo__review--description {
  line-height: 2;
  padding: 0 20px;
}

.promo__title--white {
  margin-bottom: 10px;
  padding-top: 40px;
  color: #ffffff;
}

.promo__title--bridge {
  margin: 33px 0 7px;
}

.promo__review--white {
  margin-top: 16px;
  padding: 0 20px 44px;
  color: #ffffff;
}

.promo__title--small {
  margin: 14px 0 2px;
  padding: 0;
  font-size: 14px;
  text-align: left;
}

.promo__title--triangle {
  margin-top: 14px;
  padding-top: 55px;
}

.promo__text {
  .promo__title {
    margin: 38px 0 0;
  }

  .promo__review {
    margin: 27px 0 0;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
    top: 0;
    width: $tablet-width;
  }

  .promo__text {
    padding: 0 50px 49px;

    .promo__title {
      margin-top: -5px;
    }
  }

  .promo__title {
    padding: 0;
    font-size: 21px;
    line-height: 26px;
  }

  .promo__title--white {
    margin-top: 45px;
    padding: 0 50px;
  }

  .promo__review--white {
    margin-top: 21px;
    padding: 0 40px 40px;

    span {
      white-space: nowrap;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: $desktop-width;
  }

  .promo__review {
    span {
      white-space: nowrap;
    }
  }

  .promo__text {
    padding: 0 50px 46px;

    .promo__title {
      margin-top: -20px;
      padding: 0 20%;
    }
  }

  .promo__title--white {
    margin-top: 38px;
    padding: 14px 110px 0;
  }

  .promo__review--white {
    padding: 0 55px 40px;
  }
}
