.promo {
  width: 320px;
  margin: 0 auto;
}

.promo__title {
  color: #000000;
  font-family: "pt-sansBold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 40px;
  margin-top: 40px;

  span {
    white-space: nowrap;
  }
}

.promo__review {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.promo__review--description {
  line-height: 2;
}

.promo-item {
  &:nth-child(2) {
    position: relative;
    top: 10px;
  }
}

.promo-item__text {
  background-color: #81b3d2;
  position: relative;
  text-align: center;
}

.promo__title--white {
  padding-top: 40px;
  color: white;
  margin-bottom: 10px;
}

.promo-item__number {
  font-weight: 400;
  line-height: 21px;
  display: block;
  text-align: center;
  color: white;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 8px;
    height: 1px;
    left: 133px;
    top: 10px;
  }

  &::after {
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 8px;
    height: 1.1px;
    right: 133px;
    top: 10px;
  }
}

.promo__review--white {
  color: white;
  margin-top: 20px;
  padding: 0 20px 40px;
}

.promo-item__img {
  position: relative;
  height: 260px;
  width: 100%;
  top: -20px;
}

.promo-item__img--bridge {
  background-image: url("../../img/photo-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.promo-item__number--gray {
  color: #333333;

  &::before,
  &::after {
    background: #333333;
  }

  &::before {
    left: 113px;
  }

  &::after {
    right: 113px;
  }
}

.promo-item__text-gray {
  background: #eeeeee;
  position: relative;
  margin-top: 0;
  padding: 0 20px;

  &:first-child {
    margin-top: -20px;
  }

  .promo__title {
    margin-top: 0;
    padding-top: 30px;
  }

  .promo__review {
    padding: 0 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    margin-bottom: 20px;
  }

  .promo__review--no-border {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.promo-item--small {
  padding-top: 0;
}

.promo__title--small {
  font-size: 14px;
  text-align: left;
  padding: 0;
  margin-top: 20px;
}

.promo-item__triangle {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 160px 0 160px;
  border-color: white transparent transparent transparent;
}

.promo__title--triangle {
  padding-top: 50px;
}
