.social-icons {
  position: relative;
  top: 3px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transition: all 0.3s;
    background-color: #669ec0;
  }

  svg {
    fill: white;
  }

  &:active {
    background-color: #5496bd;

    svg {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .social-icons {
    margin-left: 105px;
  }
}

@media (min-width: $desktop-width) {
  .social-icons {
    margin-left: 263px;
  }
}
