.video {
  width: 320px;
  margin: 0 auto;
}

.video__wrapper {
  padding: 33px 0 32px;

  .promo__review {
    padding: 0 25px;
  }

  .promo__title {
    margin: 0 0 18px;
  }
}

@media (min-width: $tablet-width) {
  .video {
    width: $tablet-width;
  }

  .video__wrapper {
    padding: 35px 0 0;

    .promo__review {
      padding: 0 165px 0;
      margin-top: 30px;
    }

    .promo__title {
      margin: 33px 0 18px;
      font-size: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: $desktop-width;
  }

  .video__wrapper {
    padding: 0 0 0 20px;
    margin: -122px 0 12px 0;

    .promo__title {
      margin-left: -18px;
    }

    .promo__review {
      padding: 0 32%;
    }
  }
}
