body {
  max-width: 100%;
  font-family: "pt-sans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

label {
  display: block;
  font-family: "pt-sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

label[for|="positive"]::before,
label[for|="negative"]::before,
label[for|="neutral"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 23px 0 0;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: 17px solid #f2f2f2;
}

label[for|="bridge"]::before,
label[for|="mountain"]::before,
label[for|="park"]::before,
label[for|="rocks"]::before {
  content: "";
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 7px;
  margin-right: 16px;
  background-color: #f2f2f2;
  vertical-align: middle;
  border: 3px solid #ffffff;
}

input:checked[type="radio"] + label::before {
  background-color: #000000;
}

input:checked[type="checkbox"] + label::before {
  content: "";
  background-image: url("../img/tick.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

label[for|="positive"],
label[for|="negative"],
label[for|="neutral"] {
  margin-bottom: 15px;
}

label[for|="radio"],
label[for|="checkbox"] {
  color: #333333;
  vertical-align: middle;
}

@media (min-width: 768px) {
  label[for|="positive"] {
    margin: 33px 0 0 32px;
  }

  label[for|="negative"] {
    margin: 25px 0 0 32px;
  }

  label[for|="neutral"] {
    margin: 25px 0 0 32px;
  }
}
